<h3>Download File</h3>
<a href="<%= path %>" class="btn btn-danger" download>Download</a>
<div class="d-flex flex-column w-100 h-100 mt-2">
  <iframe
    src="<%= path %>"
    title="W3Schools Free Online Web Tutorials"
    class="w-100 h-100"
  >
  </iframe>
</div>
